@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital@0;1&family=Open+Sans:wght@300;400;500&family=Raleway:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/NeueHaasDisplayRoman.ttf");
}


body {
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 15px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #06070bc5;
}

::-webkit-scrollbar-thumb{
  background-color: #6de75577;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #6EE755;
}

.active{
  color: #5eb84c;
}


h1,
h2 {
  font-family: "Anton", sans-serif;
}

li span{
  @apply text-white/100
}